.home-page-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.browse-collections {
  justify-content: center;
  align-items: center;
  height: 46.5rem;
  display: flex;
  flex-direction: column;
  background-image: url("./urbanFashion.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: 0% 20%;
}

.browse-collections p {
  color: red;
}

.ctr-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  background: #ffffff;
  height: 3rem;
  width: 12rem;
  border: 0;
  margin-top: 15rem;
  opacity: 0.9;
}

.mwa-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: #ffffff;
  height: 3rem;
  width: 12rem;
  border: 0;
  margin-top: 1rem;
  opacity: 0.9;
}

.bc-btn {
  width: 17.5rem;
  height: 4rem;
  margin-top: 5rem;
  border: 0;
  background-color: #e10000;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-family: "Jost", sans-serif !important;
  font-weight: 500;
}

@media screen and (max-width: 800px){
  .browse-collections{
    height: 48rem;
  }
}