.secNavItem{
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  .secNavItem{
    border-bottom: 0.1rem solid lightgray;
    padding-bottom: .75rem;
  }
}