.user-profile {
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
}

.user-profile-img {
  height: 4rem;
}

.user-ne-container {
  box-sizing: border-box;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 400px) and (max-width: 700px) {
  .user-ne-container {
    padding-left: .5rem;
    padding-top: 1rem;
  }

  .user-profile {
    flex-direction: column;
  }

  .user-profile-img {
    width: 4rem;
    padding-left: .5rem;
  }
}

.user-name {
  color: #333333;
}

.user-email {
  color: #9b9b9b;
}
