.navBar {
  border-bottom: 0.1rem solid lightgray;
  font-weight: 300 !important;
  box-sizing: border-box;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}

.primary-nav-items {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}

.primary-nav-items-active {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.secNavItem {
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
}

.navItem {
  padding: 1.1rem 2rem 1rem 2rem;
  color: #444444;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
}

.navItemActive {
  padding: 1.1rem 2rem 1rem 2rem;
  color: #e10000;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
}


.shopping-icon {
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
}

.search-icon {
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
}

.toggle-button {
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding-top: 0.35rem;
  padding-right: 1rem;
}

.toggle-button-active {
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding-top: 1.1rem;
  padding-right: 1rem;
  margin-bottom: auto;
}

@media screen and (max-width: 800px) {
  .nav-items {
    display: none;
  }

  .nav-items-active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sec-nav-items {
    display: none;
  }

  .sec-nav-items-active {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }

  .toggle-button {
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    cursor: pointer;
  }

  .secNavItem {
    border-bottom: 0.1rem solid lightgray;
    padding-bottom: 0.75rem;
  }

  .navItem {
    border-bottom: 0.1rem solid lightgray;
  }

  .navItemActive {
     border-bottom: 0.1rem solid lightgray;
  }
}

@media screen and (min-width: 800px) {
  .toggle-button {
    display: none;
  }

  .filler {
    display: none;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
  }

  .nav-items-active {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .sec-nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sec-nav-items-active {
    display: flex;
    flex-direction: row;
  }
}
