.footer {
  color: white;
  height: 22.5rem;
  background-color: #333333;
  width: 100%;

  display: flex;
  flex-direction: row;

  font-size: 0.85rem;
  align-items: center;
  justify-content: center;

  font-size: 1.1rem;
}

@media screen and (max-width: 769px) {
  .footer {
    height: 30rem;
  }
}

@media screen and (max-width: 361px) {
  .footer {
    flex-direction: column;
    height: 60rem;
    font-size: 1.5rem;
    padding: 5rem 0rem 5rem 0rem;
  }
}
